.guest__block {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.guest__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 20px;
}

.guest {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.guest__up {
	display: flex;
	justify-content: space-between;
}

.guest__title {
	font-weight: 700;
	font-size: 16px;
	color: #000;
}

.guest__rating {
	font-weight: 400;
	font-size: 16px;
	color: #000;
}

.guest__description {
	font-weight: 400;
	font-size: 16px;
	line-height: 150%;
	color: #000;
}